{% extends "squelette.html" %}
{% block titre %}Accueil{% endblock %}
{% block contenu %}
        <div class="row">
            <div class="col-sm-8 col-md-10">
                <h1>pyCCF : Évaluer vos étudiants</h1>
                <p class="lead">
                    Cliquez <a href="/admin/">ici</a> pour évaluer et 
                    <a href="/resultats/">là</a> pour les résultats !
                </p>
            </div>
        </div>
{% endblock %}
