{% extends "squelette.html" %}
{% block titre %}Résultats{% endblock %}
{% block contenu %}
    {% if resultats %}
        <h1 align=center>Résultats de l'évaluation (CCF)</h1>
        <br/>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <td><strong>Nom</strong></td>
                    <td><strong>Prénom</strong></td>
                    <td><strong>parcours de professionnalisation</strong></td>
                    <td><strong>gestion du patrimoine</strong></td>
                    <td><strong>note finale</strong></td>
                </tr>
            </thead>
            <tbody>
            {% for r in resultats %}
                <tr>
                    <td>{{ r.nom }}</td>
                    <td>{{ r.prenom }}</td>
                    <td>{{ r.note_parcours|floatformat }}</td>
                    <td>{{ r.note_patrimoine|floatformat }}</td>
                    <td>{{ r.note_final|floatformat }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h5>Il n'y a pas de résultats enregistrés.</h5>
    {% endif %}
{% endblock %}
