{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{% block titre %}{% endblock %} - pyCCF</title>
        <link href="{% static 'css/bootstrap.min.css' %}"
              rel="stylesheet" type="text/css" media="screen">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
        </script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js">
        </script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            {% block contenu %}{% endblock %}
        </div>
    </body>
</html>
